@tailwind base;
@tailwind components;
@tailwind utilities;

.htmlComp {
    font-family: 'Lucida Handwriting', fantasy;
    font-size: 0.7rem;
    color: #FF5A09;
    padding-top: 5px;
    font-weight: bold;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  @media screen and (max-width: 1024px) {
  
    .textZone {
      font-size: 3.2rem;
    }
    .textZoneChild{
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
    .contactButton{
      height: 10;
      width: 50;
      font-size: 1rem;
    }
    
    .menuTitle {
      font-size: 0.800rem;
      line-height: 1.15rem;
    }
    .menuImage {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
  
  @media screen and (max-width: 640px) {
  
    .textZone {
      font-size: 2rem;
    }
    .textZoneChild{
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .contactButton{
      height: 8;
      width: 40;
      font-size: 0.8rem;
    }
    .menuTitle {
      font-size: 0.750rem;
      line-height: 1.1rem;
    }
    
    
    .menuImage {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  